@using RepositoryAnalysis.Model
<MudTable Items="@Items" Hover="true" Breakpoint="Breakpoint.Sm" Elevation="5">
    <ColGroup>
        <col style="width:150px;"/>
        <col style="width:150px;"/>
        <col style="width:150px;"/>
        <col style="width:400px;"/>
        
        <col style="width:200px;"/>

    </ColGroup>
    <HeaderContent>
        <MudTh></MudTh>
        <MudTh>Name</MudTh>
        <MudTh>Diagnosis</MudTh>

        <MudTh>Note</MudTh>
        <MudTh>Location</MudTh>

    </HeaderContent>
    <RowTemplate >
        <MudTd>
            <MudButton Variant="Variant.Filled" Size="Size.Small" OnClick="@(() => ShowBtnPress(context.Rule.Id))">@(context.ShowDetails ? "Hide" : "Show") Details</MudButton>
        </MudTd>
        <MudTd DataLabel="Name">@context.Rule.Name</MudTd>
        <MudTd DataLabel="Diagnosis">
            @switch (context.Rule.Diagnosis)
            {
                case Diagnosis.Warning:
                    <MudTooltip Text="an action can be taken to improve the repo" Arrow="true" Placement="Placement.Top">
                        <MudChip Size="Size.Small" Label="true" Color="Color.Info">Can be improved</MudChip>
                    </MudTooltip>
                    break;
                case Diagnosis.Error:
                    <MudTooltip Text="strongly recommended to address this" Arrow="true" Placement="Placement.Top">
                        <MudChip Size="Size.Small" Label="true" Color="Color.Warning">Warning</MudChip>
                    </MudTooltip>
                    break;
                default:
                    <MudTooltip Text="looks good and no action needed" Arrow="true" Placement="Placement.Top">
                        <MudChip Size="Size.Small" Label="true">Okay</MudChip>
                    </MudTooltip>
                    break;
            }

        </MudTd>

        <MudTd DataLabel="Note">@context.Rule.Note</MudTd>
        <MudTd DataLabel="Location">
            @if (!string.IsNullOrEmpty(context.Rule.ResourceName))
            {
                <MudLink Target="_blank" Href="@context.Rule.ResourceUrl">@context.Rule.ResourceName</MudLink>
            }


        </MudTd>


    </RowTemplate>
    <ChildRowContent>
        @if (context.ShowDetails)
        {
            <MudTr>
                <td colspan="4">


                    <MudCard Elevation="0">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.body1">@((MarkupString)context.Rule.Explanation.Text)</MudText>

                                @if (context.Rule.Explanation.Details is not null)
                                {
                                    <br/>
                                    <MudText Style="background-color: lightgrey" Color="Color.Surface" Typo="Typo.body2">@((MarkupString)context.Rule.Explanation.Details)</MudText>
                                }
                                <br/>
                                @if (context.Rule.Explanation.AboutUrl is not null)
                                {
                                    <MudPaper Class="d-flex align-content-start flex-wrap flex-grow-1 gap-2" Elevation="0">
                                        <MudText Typo="Typo.body1">For more information, see</MudText>
                                        <MudLink Target="_blank" Href="@context.Rule.Explanation.AboutUrl">@context.Rule.Explanation.AboutHeader</MudLink>
                                    </MudPaper>
                                }

                                @if (context.Rule.Explanation.GuidanceUrl is not null)
                                {
                                    <MudPaper Class="d-flex align-content-start flex-wrap flex-grow-1 gap-2" Elevation="0">
                                        <MudText Typo="Typo.body1">For guidance, see</MudText>
                                        <MudLink Target="_blank" Href="@context.Rule.Explanation.GuidanceUrl">@context.Rule.Explanation.GuidanceHeader</MudLink>
                                    </MudPaper>
                                }

                            </CardHeaderContent>
                        </MudCardHeader>
                    </MudCard>
                </td>
            </MudTr>
        }
    </ChildRowContent>
</MudTable>

@code {

    [Parameter]
    public IReadOnlyList<RuleModel> Items { get; set; } = new List<RuleModel>();


    private void ShowBtnPress(
        Guid nr)
    {
        var s = Items.Single(f => f.Rule.Id == nr);
        s.ShowDetails = !s.ShowDetails;
    }

}